@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import "./components/style/variables.css";
@import "./components/style/settings.css";
@import "./components/style/preferences.css";
@import "./components/style/media.css";

.container {
  max-width: 1700px;
  margin: auto;
  padding: 0 2rem;
}
