.cart__section {
	max-width: 1000px;
	min-height: 93vh;
	margin: auto;
	padding: 2rem 0;
	display: grid;
	grid-template-columns: 75% auto;
	grid-gap: 3rem;
}

.cart__section-total {
	display: flex;
}
.cart__section-total span {
	margin-left: 1rem;
	font-weight: 600;
}
