.cart__section {
	max-width: 1000px;
	min-height: 93vh;
	margin: auto;
	padding: 2rem 0;
	display: grid;
	grid-template-columns: 65% auto;
	grid-gap: 3rem;
}

.cart__section-total {
	margin-top: 1rem;
	padding-top: 0.3rem;
	display: flex;
	border-top: 1px solid var(--color-grey-light);
}

.cart__section-total span {
	margin-left: 1rem;
	margin-bottom: 1rem;
	font-weight: 600;
}
