.section__four {
	min-height: 300px;
	margin: 5rem 0;
}
.section__four-item {
	position: relative;
	width: 100%;
}
.section__four--grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}
.section__four--text {
	text-align: center;
	position: absolute;
	bottom: -3rem;
	width: 100%;
}
.section__four-item img {
	width: 100%;
	height: 100%;
}

@media (max-width: 700px) {
	.section__four--grid {
		grid-template-columns: 1fr;
	}
	.section__four-item:nth-last-child(-n + 2) {
		display: none;
	}
}
@media (max-width: 400px) {
	.section__four {
		margin: 2rem 0;
	}
}
