.section__one {
	background: var(--color-white-light);
}

.section__one--img {
	width: 100%;
	height: 400px;
	overflow: hidden;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 60%,
		rgba(244, 244, 244, 1) 100%
	);
	display: flex;
	justify-content: center;
}

.section__one--img img {
	height: 100%;
}

.section__one--text {
	text-align: center;
	margin-right: 15rem;
}

@media (max-width: 1200px) {
	.section__one--img {
		height: 300px;
		margin-top: 1rem;
	}
}

@media (max-width: 1000px) {
	.section__one .section--flex {
		flex-direction: column;
	}
	.section__one--text {
		margin: 2rem 0;
	}
	.section__one--text p {
		display: none;
	}
}
@media (max-width: 500px) {
	.section__one--img {
		height: 250px;
	}
	@media (max-width: 360px) {
		.section__one--img {
			height: 200px;
		}
	}
}
