.cart__item {
	padding: 1.5rem 0;
	border-bottom: 1px solid grey;
	display: grid;
	grid-template-columns: 200px 350px auto;
}

.cart__item-name {
	font-size: 1.2rem;
}

.cart__item-image {
	height: 150px;
	width: 150px;
	border-radius: 2px;
}

.cart__item-info {
	line-height: 1.6rem;
}

.cart__item-info p {
	color: grey;
	font-size: 0.9rem;
}

.cart__item-price {
	text-align: right;
	font-size: 0.9rem;
}
