.section__one {
    /* overflow: hidden; */
    position: relative;
    min-height: 400px;
    background: #f4f4f4;
    margin-bottom: 2rem;
}
.ma {
    max-width: 1200px;
    margin: auto;
}
.img {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.info-area {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 2;
}
.info-area p {
    margin-bottom: 0.5rem;
}
.img img {
    /* margin-left: ; */
    height: 100%;
}
