.section {
	position: relative;
	min-height: 300px;
}
.section--flex {
	display: flex;
	align-items: center;
	align-content: center;
}
.section p {
	margin-bottom: 0.2rem;
}
.section__title {
	font-size: 1.4rem;
	margin-bottom: 0.2rem;
}
.bg-home {
	background: #f4f4f4;
}
