.list-item {
	height: 450px;
	width: 100%;
	margin-bottom: 4rem;
}

.item-info {
	line-height: 1.3rem;
	display: flex;
	justify-content: space-between;
}

.info-color,
.info-status {
	font-size: 0.9rem;
	color: #777;
}

/* Images */

.image__container {
	margin: auto;
	height: 100%;
	width: 100%;
	margin-bottom: 1rem;
}

.image--front {
	height: 100%;
	width: 100%;
}
