.contact--cart,
.contact--section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact--section {
	min-height: 96vh;
	margin-top: 7rem;
}

.contact--section h1 {
	margin-bottom: 1rem;
}

.contact--cart {
	min-width: 450px;
}
.contact--cart .btn--black {
	width: 80%;
	margin: auto;
}
