* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-black);
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.container {
    max-width: 1700px;
    margin: auto;
    padding: 0 2rem;
}

.success {
    color: green;
}

.danger {
    color: red;
}

h1,
h2,
h3 {
    font-weight: 400;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-grey-light);
    box-shadow: 0 0 20px var(--color-grey-light);
    border-radius: 15px;
    padding: 1.5rem 3rem;
}

.form--label {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-grey);
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}
.form--label input,
textarea {
    color: var(--color-black);
    border: 1px solid var(--color-grey-light);
    min-height: 1.5rem;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 0.3rem;
    padding: 0.3rem;
}
.form--label textarea {
    min-height: 12rem;
}
