* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--color-black);
	font-family: "Roboto", sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-black);
}

#root {
	overflow: hidden;
}

.container {
	max-width: 1700px;
	margin: auto;
	padding: 0 2rem;
}

.success {
	color: green;
}

.danger {
	color: red;
}

h1,
h2,
h3 {
	font-weight: 400;
}
