.btn {
	cursor: pointer;
	border: none;
	background: transparent;
	font-weight: 700;
	color: #333;
	font-size: 1rem;
}

.btn a {
	color: #fff;
}

.btn--shop {
	text-decoration: underline;
}

.btn--order {
	margin: auto;
	font-size: 1rem;
	background: #333;
	color: #fff;
	padding: 0.7rem;
	border-radius: 10px;
	width: 100%;
}

.btn-shop a:hover {
	color: #444;
}

.btn--order:hover {
	color: #f4f4f4;
	background: #444;
}

.btn--remove {
	position: relative;
	color: var(--color-grey);
	font-weight: 400;
	transition: all 0.5s;
	padding-bottom: 2px;
	font-size: 0.9rem;
	text-decoration: underline;
}

.btn--remove:hover {
	color: var(--color-hover-grey);
}

.btn--black {
	border-radius: 15px;
	font-size: 1rem;
	padding: 0.6rem 1rem;
}
.btn--black {
	background: var(--color-black);
	color: #fff;
}

.btn--black:hover {
	background: #333;
	box-shadow: 0 0 4px var(--color-black);
}

.btn--link {
	width: 100%;
	display: block;
	text-align: center;
}

.btn--light {
	font-weight: 500;
	padding: 0.3rem 0.5rem;
	border-radius: 10px;
	background: var(--color-black);
	color: #fff;
}

.btn--light:hover {
	background: #555;
}
