.shipping__section {
	max-width: 1000px;
	min-height: 93vh;
	margin: auto;
	padding: 2rem 0;
	display: grid;
	grid-template-columns: 65% auto;
	grid-gap: 3rem;
}

.shipping__form {
	margin-top: 1rem;
	padding-top: 0.3rem;
}

.form-grid {
	display: grid;
	grid-gap: 0 1rem;
}

.form-grid--2 {
	grid-template-columns: repeat(2, 1fr);
}

.form-grid--3 {
	grid-template-columns: repeat(3, 1fr);
}
.form-grid--3 input {
	width: 100%;
}

.shipping__method {
	margin-top: 2rem;
}
.shipping__method h2 {
	margin-bottom: 1rem;
}
