.shipping__section {
	max-width: 1000px;
	min-height: 93vh;
	margin: auto;
	padding: 2rem 0;
	display: grid;
	grid-template-columns: 65% auto;
	grid-gap: 3rem;
}

.shipping__form {
	position: relative;
	margin-top: 1rem;
	padding-top: 0.3rem;
}

.form-grid {
	display: grid;
	grid-gap: 0 1rem;
}

.form-grid--2 {
	grid-template-columns: repeat(2, 1fr);
}

.form-grid--3 {
	grid-template-columns: repeat(3, 1fr);
}

.form-grid--3 input {
	width: 100%;
}

.shipping__method {
	margin: 1rem 0 1rem 0;
	padding: 1rem 0 1.5rem 0;
	border-bottom: 1px solid var(--color-grey-light);
	border-top: 1px solid var(--color-grey-light);
}

.shipping__method h2 {
	margin-bottom: 1rem;
}

.shipping__method--form {
	position: relative;
	display: flex;
	width: 50%;
}

.shipping__form .select {
	background: none;
	border: var(--color-grey-light) 1px solid;
	padding: 0.3rem;
	margin: 0.3rem 0 0 0;
	width: 100%;
}
.shipping__form .btn {
	width: 200px;
}

.input--error {
	border: 1px solid red;
}

.order--label-radio {
	flex-direction: row;
	align-items: center;
	margin: 0;
}
.order--label-radio input {
	margin: 0 0.6rem 0 0;
}

.order--label-radio .error--message {
	/* margin: 0 0 0 1rem; */
	position: absolute;
	bottom: -20px;
	left: 0;
}
