.header {
	position: relative;
	background: #fff;
	width: 100%;
}
.header__bottom-window {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	min-height: 60px;
}
hr {
	width: 100%;
	left: 0;
	position: absolute;
	border: 0.1px solid var(--color-white-light);
	z-index: 5;
}
