.pageNotFound {
  height: 96vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: auto;
  margin: auto;
  padding-bottom: 5rem;
}
.pageNotFound__title {
  line-height: 1.8rem;
  margin-bottom: 1rem;
}
.pageNotFound__title p {
  font-weight: 300;
  font-style: italic;
}
