.footer {
    background: black;
    color: #fff;
    width: 100%;
    /* min-height: 300px; */
    padding: 3rem 0 1.5rem 0;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: red;
}
.footer hr {
    border: 0.5px solid #333;
}
.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
.footer__item {
    line-height: 2rem;
    font-weight: 300;
    font-size: 0.9rem;
    min-height: 200px;
}

.footer__title {
    font-size: 1rem;
    font-weight: bold;
}
.footer__list--social a {
    width: 30%;
    display: flex;
    align-items: center;
}
.footer__list--social i {
    padding-right: 0.5rem;
}

.footer__contact {
    font-weight: 700;
    text-decoration: underline;
}
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
}
