:root {
    --color-black: #222;
    --color-hover-grey: rgb(125, 125, 125);
    --color-grey: #e9e9e9;
    --width-max: 1000px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--color-black);
    font-family: sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: auto;
}
i:hover {
    color: var(--color-hover-grey);
}
