@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import "./components/style/variables.css";
@import "./components/style/settings.css";

.container {
    max-width: 1000px;
    margin: auto;
}
i:hover {
    background: var(--color-hover-grey-light);
}
