.shop-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

@media (max-width: 1080px) {
	.shop-list {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 585px) {
	.shop-list {
		grid-template-columns: repeat(1, 1fr);
	}
	.product__images {
		grid-template-columns: repeat(1, 1fr);
	}
}
