.section__three {
    min-height: 300px;
    background: var(--color-grey);
    margin: 5rem 0;
    padding: 2rem 0;
}
.section__three--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.section__three-item {
    position: relative;
    height: 700px;
    width: 100%;
    background: green;
    text-align: center;
}
.section__three--text {
    text-align: center;
    position: absolute;
    bottom: 3rem;
    width: 100%;
}
