.section__three {
	background: var(--color-white-light);
	margin: 5rem 0;
	padding: 0.5rem 0;
}
.section__three--grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	/* height: 570px; */
}
.section__three--text {
	text-align: center;
	margin-top: 1rem;
	width: 100%;
}
.section__three-item {
	position: relative;
	height: 600px;
	margin: auto;
	height: 80%;
	width: 100%;
	text-align: center;
}
.section__three img {
	/* height: 700px; */
	height: 100%;
	width: 100%;
}

@media (min-width: 1024px) {
	.section__three-item {
		height: 90%;
	}
}
